<% include components/head.ejs %>

<header>

  <section>

    <% if (user) { %>
      <p>Hallo <%= user.username %></p>
      <img src="/upload/<%= user.picture %>" alt="Profile picture">
      <a class="default_button button_color_blue" href=/log-out>Logout</a>
    <% } else { %>
      <p>Welkom</p>
    <% } %>

  </section>

</header>

<main>

  <h2>Dashboard</h2>
  <p>Potentiele matches</p>

  <section class="dashboard">

    <% for (var index = 0; index < data.length; index++) { %>
      <article class="dashboard_item">

        <img src="/upload/<%= data[index].picture %>" alt="Profile picture">
        <h3><%= data[index].username %>, <%= data[index].age %></h3>
        <p><%= data[index].hospital %></p>

        <a href="/<%= data[index].id %>" class="default_button button_color_pink">Bekijk Profiel</a>
      </article>
    <% } %>

  </section>

</main>

<% include script.ejs %>
