<% include head.ejs %>

<header>

  <section>

    <% if (user) { %>
      <a class="default_button" href="/<%= data.id %>">Profiel</a>
      <a class="default_button button_color_blue" href=/log-out>Logout</a>
    <% } %>

  </section>

</header>

<main>

  <section class="dashboard">

    <% if (user) { %>
      <h2>Welkom <%= user.username %></h2>
    <% } %>

    <% for (var index = 0; index < data.length; index++) { %>
      <article class="dashboard_item">

        <img src="/upload/<%= data[index].picture %>" alt="Profile picture">
        <h3><%= data[index].username %></h3>
        <p><%= data[index].description %></p>

        <a href="/<%= data[index].id %>" class="default_button button_color_pink">Bekijk Profiel</a>
      </article>
    <% } %>

  </section>

</main>

<% include script.ejs %>
