<% include components/head.ejs %>

<header>

  <a href="/dashboard">Dashboard</a>

  <section>

    <% if (user) { %>
      <p>Hallo <%= user.username %></p>
      <img src="/upload/<%= user.picture %>" alt="Profile picture">
      <a class="default_button button_color_blue" href=/log-out>Logout</a>
    <% } else { %>
      <p>Welkom</p>
    <% } %>

  </section>

</header>

<main>

  <h2>Profiel</h2>
  <p>Het profiel van <%= data.username %></p>

<section class="profile">

    <img src="/upload/<%= data.picture %>" alt="Profile picture">
    <h3><%= data.username %>, <%= data.age %></h3>
    <p><%= data.hospital %> op <%= data.day %></p>
    <p><%= data.description %></p>

    <% if (user) { %>
      <button id="js-remove" data-id="<%= data.id %>" class="button_remove">Remove</button>
    <% } %>

</section>

</main>

<% include script.ejs %>
